body {
    background: url("snackie.bg.png") no-repeat;
    background-size: cover;
}
.btn{
    background-color: #e73a3f;
    border: 2px solid #e73a3f;
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}